body {
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.nav-link {
  text-decoration: none;
  color: #bf7506;
  margin-left: 24px;
  font-size: 16px;
  line-height: 150%;
}
.nav-link.active {
  font-weight: 700;
}
.container {
  max-width: 860px;
  width: 100%;
  margin: auto;
}
header {
  padding: 70px 0;
  display: flex;
  align-items: center;
}
.header-photo {
  max-width: 212px;
  max-height: 240px;
}
.header-text {
  margin-left: 27px;
}
.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}
.header-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  margin-top: 8px;
  margin-bottom: 24px;
}
.header-primary {
  color: #bf7506;
}
.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}
.social-link {
  display: inline-block;
  padding: 8px;
}
.header-links {
  display: flex;
  align-items: center;
}
.cv-download {
  display: flex;
  align-items: center;
  padding: 8px 7px;
  margin-left: 55px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  border-bottom: 2px solid #bf7506;
}
cv-icon {
  margin-right: 4px;
}
